.Programs{
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.programs-header{
    display: flex;
    gap: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    justify-content: center;
}
.programs-header span{
    font-size: 4rem;
}
.programs-header>span:nth-child(2){
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}
.program-categories{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.program-categories .category{
    display: flex;
    flex-direction: column;
    padding: 32px;
    color: white;
    gap: 1rem;
    background-color: #808080;
    justify-content: space-between;
}
.category>:nth-child(1){
    fill: white;
    width: 2rem;
    height: 2rem;
}
.category>:nth-child(2){
    font-size: 1rem;
    font-weight: bold;
}
.join-now{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.category:hover{
    background-color: var(--orange);
}
@media screen and (max-width :768px){
    .programs-header{
        flex-direction: column;
        gap: 1rem;
        font-size: x-large;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        
    }
    .programs-header span{
        font-size: x-large;
    }
    .program-categories{
        flex-direction: column;
    }
}